@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/utilities/background";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/utilities/spacing";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/text";

header {
	nav {
		margin-bottom: 3rem;
		@extend 
			.navbar, 
			.navbar-expand,
			.navbar-dark,
			.bg-dark;
		a.button {
			@extend .btn;
		}
		a.logo {
			padding: 0.75rem 0 0.75rem 1rem;
			font-size: 2rem;
			@extend .navbar-brand;
			letter-spacing: 3px;
			background: orange;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;			
		}
		ul {
			@extend .navbar-nav;
			margin-left: auto;
			text-transform: uppercase;
			letter-spacing: 2px;
			li {
				@extend .nav-item;
        margin-right: 10px;
				a {
				 @extend .nav-link;
				 padding-bottom: 2px;
				}
				a:hover, 
				a.active {
					border-bottom: 1px solid $primary;
				}
				button, .btn {
					margin-top: 2px;
					background: transparent;
					color: orange;
					border: 1px solid;
					padding: 6px 10px;
					letter-spacing: 2px;
					border-radius: 12px;
					text-transform: uppercase;
					cursor: pointer;
				}
				button:hover, .btn:hover {
					background: lightyellow;
					color: orange;
					border-color: orange;
				}
				button.signout {
					border: none;
				}
				&.user {
					color: gray; 
					padding-top: 8px;
					i {
						margin-right: 5px;
					}
				}
			}
		}
	}
}

form.signin, form.signup {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	h2, h3 {
	  text-align: center;
	}
	h3 {
		font-size: 1.35rem;
	}
	label {
		margin-top: 1rem;
		&:first-child {
			margin-top: 0;
		}
	}
	fieldset {
		margin-top: 1.5rem;
	}
	input {
		@extend .form-control;
	}
	button {
		@extend .btn, .btn-lg, .btn-primary, .btn-block;
	}
	.form-control {
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
	.form-control:focus {
		z-index: 2;
	}
	input[type="text"], input[type="email"] {
		margin-bottom: 1px;
	}
	input[type="password"] {
		margin-bottom: 25px;
	}
}

.errors {
	color: red;
	margin: 1.5rem 0;
	padding: 1.5rem;
	background: white;
	border: 1px solid $red;
	text-align: center;

	h3 {
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}

	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;

		li {
			.message {
				font-weight: 600;
			}
		}
	}

	p {
		text-align: center;
		font-weight: 300;
		font-size: 1.15rem;
	}
}